%no-indent{
    padding: 0;
    margin: 0;
}

%text-style-clasic{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

%logo-text{
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

%form-text-style{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}