$txt-main-color: rgb(33, 33, 33);       //основной цевет текста черный
$txt-more-content: rgb(117, 117, 117);  //дополнительный цвето текста серый

$global-black: rgb(00, 00, 00);         //глобальный черный 
$global-blue: rgb(33, 150, 243);        //глобальный голубой
$global-while: rgb(255, 255, 255);      //глобальный голубой

$bg-light-gray: rgb(245, 244, 250);     //первичный фон светло-серый
$bg-dark-gray: rgb(47, 48, 58);         //вторичный фон темно-серый

$while-lucent10: rgba(255, 255, 255, 0.1);  //белый прозрачный 10%
$while-lucent30: rgba(255, 255, 255, 0.3);  //белый прозрачный 30% (рамка формы)

$txt-a-blinck: rgba(255, 255, 255, 0.6);




$my-cubic: cubic-bezier(0.4, 0, 0.2, 1);